{% extends 'pyHtmlGuiBase.html' %}

{% block head_scripts %}

    <!-- Load your global js here -->
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>


    <script>

        const ipc = nodeRequire('electron').ipcRenderer;
        ipc.on('message', (event, message) => {
            alert(message);
        })
        ipc.send('set_tray_icon', 'pp_icon_256.png');

    </script>

{% endblock %}

{% block head_css %}
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock %}

{% block head_meta %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% endblock %}

