<!DOCTYPE html>
<html lang="en">
    <head>

        <script>
            let csrf_token = "{{ csrf_token }}";
        </script>
        <script type="text/javascript" src="/pyHtmlGui.js"></script>

        <script type="text/javascript">

            pyHtmlGui.expose(set_element);
            function set_element(elementId, content) {
                document.getElementById(elementId).innerHTML = content;
            }
            pyHtmlGui.expose(run_javascript);
            function run_javascript(script) {
                return eval('(function() {' + script + '}())');
            }
        </script>

        {% block head_scripts %}{% endblock %}

        {% block head_css %}{% endblock %}

        {% block head_meta %}{% endblock %}

    </head>

    <body>
        {{ gui_instance.render() }}
    </body>

</html>
