<div class="container">
    <div class="row">
        <div class="col-12">
            <h3>PyHtmlGui Examples App</h3>
        </div>
    </div>
    <div class="appsection">{{ pyview.counterView.render() }} </div>
    <div class="appsection">{{ pyview.counterInListView.render() }} </div>
    <div class="appsection">{{ pyview.counterInDictView.render() }} </div>
    <div class="appsection">{{ pyview.twoCounters.render() }} </div>
    <div class="appsection">{{ pyview.animation.render() }} </div>
    <br><br><br><br>
</div>