{% extends 'pyHtmlGuiBase.html' %}

{% block head_scripts %}
    <script src="/static/js/jquery-3.6.0.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery-ui.js"></script>
{% endblock %}

{% block head_css %}
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"  media="all">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css"  media="all">
    <link rel="stylesheet" href="/static/css/jquery-ui.css">
{% endblock %}

{% block head_meta %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PyHtmlGui</title>
{% endblock %}