
<div class="row center">
    <div class="col-md-12">
        <p class="timestamp"> {{ this.observedObject.current_timestamp }} </p>
    </div>
</div>

<div class="row center">
    <div class="col-md-12">

        <button onclick='pyHtmlGui.call(this.pause, 1, 2);'>pause</button>   <!-- both way are possible -->
        <button onclick='pyHtmlGui.call({{ py(this.pause)}});'>pause</button>   <!-- both way are possible -->
        <button onclick='pyHtmlGui.call({{ py(this.observedObject.setPause)}}, false);'>start</button> <!-- functions can have arguments -->
    </div>
</div>

<div class="row center">
    <div class="col-md-12 colored_element">
        {% if this.observedObject.paused  %}
            Paused
        {% else %}
            Active
        {% endif %}
    </div>
</div>
